/* 
==========================================================================
Styles Reset
========================================================================== 
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
}

/* secitons */
.section {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 30px;
}

.section-message {
  margin-top: 20px;
}

.transaction-section {
  /* background-color: #ecf0f1; */
}

.account-details-section {
  /* background-color: #FEFAD4; */
}

/* forms */
.form {
  padding: 50px 20px;
  width: 100%;
}

.form-group {
  align-items: center;
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
  width: 100%;
}

.form-input {
  font-size: 20px;
  outline: none;
  height: 40px;
  width: 50%;
}

.form-button {
  border: none;
  background-color: #e74c3c;
  cursor: pointer;
  color: #FFFFFF;
  height: 50px;
  outline: none;
  margin: 35px auto 0 auto;
  width: 100px;
}

.form-label {
  /* font-weight: 700; */
}

.form-button:hover {
  background-color: #f5593d;
}

/* alerts  */
.alert-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.alert {
  width: 100%;
  padding: 20px 0px;
}

.success-alert {
  background-color: #D4EDDA;
}

.error-alert {
  background-color: #F8D7DA;
}

.warning-alert {
  background-color: #FFF3CD;
}

.info-alert {
  background-color: #D1ECF1;
}

.alert-list {
  /* margin-top: 15px; */
  list-style-position: inside;
}

.alert-list li:not(:first-child) {
  margin-top: 20px;
}

.alert-title {
  font-weight: 700;
  font-size: 20px;
}

/* Cards */
.card {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  padding: 16px;
  text-align: initial;
  width: 80%;
}

.card-detail {
  margin-top: 15px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.customer-details-container {
  width: 100%;
  margin-top: 25px;
}

.customer-detail-info__detail {
  font-size: 18px;
}

/* customer crud */
.customer-crud-form__search-button {
  /* background-image: url('./assets/img/loupe.png'); */
}



/* 
==========================================================================
Common
========================================================================== 
*/

.subsection-title {
  margin-top: 25px;
}

.background-image-button {
  border: none;
  cursor: pointer;
  height: 50px;
  outline: none;
  width: 50px;
}

.search-button {
  background: url(assets/img/search.png) no-repeat transparent;
}

.edit-button {
  background: url(assets/img/edit.png) no-repeat transparent;
}

.read-button {
  background: url(assets/img/form.png);
}

.delete-button {
  background: url(assets/img/delete.png) no-repeat transparent;
}

table, th, td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th, td {
  padding: 20px;
}

.table-container {
  margin-top: 25px;
  display: flex;
  width: 100%;
  padding: 0px 20px;
}

.data-table {
  width: 100%;
}

.data-table tr:nth-child(even) {
  background-color: #eee;
}

.data-table tr:nth-child(odd) {
  background-color: #fff;
}

.data-table th {
  background-color: #e74c3c;
  color: #fff;
}

/* modal start */
.modal {
  position: fixed; /* stay in place */
  z-index: 1; /* sit on top */
  padding-top: 100px;
  padding-left: 5px;
  padding-right: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  background-color: rgb(0,0,0); /* fallback color */
  background-color: rgb(0,0,0,0.4)  /* Black with opacity */
}

/*.modal-content {
  background-color: #FEFEFE;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%
}*/

.modal-content {
  position: relative;
  background-color: #FEFEFE;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animetop {
  from { top: -300px; opacity: 0}
  to { top: 0; opacity: 1}
}

.modal-header {
  padding: 20px 16px;
  /*background-color: #5CB85C;*/
  background-color: #e74c3c;
  color: #FFFFFF;
}

.modal-content {
  position: relative;
  background-color: #FEFEFE;
}

.modal-footer {
  padding: 20px 16px;
  /*background-color: #5CB85C;*/
  background-color: #e74c3c;
  color: #FFFFFF;
}

.modal-body {
  padding: 20px 16px;
}

.modal-close-button {
  color: #FFF;
  float: right;
  font-size: 28px;
  font-weight: bold
}

.modal-close-button:hover,
.modal-close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal .form {
  margin: 0 auto;
}
/* modal end /*

/* 
==========================================================================
Utility
========================================================================== 
*/

.not-bullet-point {
  list-style-type: none;
}

.invalid-input {
  border: 1px solid #ff0033;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 700;
}

.center-block {
  margin: 0 auto
}

/* 
==========================================================================
Responsive Media Queries
========================================================================== 
*/

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 40%;
    margin-right: 20px;
  }

  .form {
    width: 50%;
  }

  .modal {
    padding-left: 20px;
    padding-right: 20px;
  }

  .alert {
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }

  /* fixed modal content center width */
  .modal-content {
    width: 960px;
    margin: 0 auto;
  }

  .form {
    padding: 25px 20px;
  }

  .section-title {
    font-size: 40px;
  }

  .form-label {
    font-size: 17px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
